@model LoginViewModel


<form asp-controller="Auth" asp-action="Login" method="post">
    <div class="login">
        <div class="loginContent">
            <div class="loginRow">
                <label>Username</label>
                <div>
                    <input asp-for="UserName" />
                </div>
            </div>
            <div class="loginRow">
                <label>Password</label>
                <div>
                    <input asp-for="Password" />
                </div>
            </div>
            <div class="loginRow"><input type="submit" value="Sign in" /></div>
        </div>
    </div>
</form>