<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @* Se necesita importar @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers en viewImports *@
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Post">Post</a>
        <a asp-controller="Home" asp-action="Edit">Edit</a>
        @*<a href="@Url.Action("Post", "Home")">Test</a>*@ @*Forma alternativa*@
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
