@model Post

<ul>
    <li>
        <a>@Model.Id</a>
    </li>
    <li>
        <a>@Model.Body</a>
    </li>
    <li>
        <a>@Model.Title</a>
    </li>
    <li>
        <a>@Model.Created</a>
    </li>
</ul>