@model PostViewModel

@{

}
<link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet" />
<div>
    <form asp-controller="Panel" asp-action="Edit" method="post" enctype="multipart/form-data">
        <div>
            <label>Title</label>
            <input asp-for="Title" />
        </div>
        <div>
            <label>Body</label>
            <input asp-for="Body" />
        </div>
        <div>
            <label>Image</label>
            <input asp-for="Image" />
        </div>
        <button type="submit" value="Submit">Guardar</button>
    </form>
</div>

@section scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
}