@model IEnumerable<Post>
<div class="container">
    <span class="title">Admin page</span>
</div>
<div class="editorContainer">
    <table class="panelTable">
        @foreach (Post post in Model)
        {
            <tr>
                <td>@post.Title</td>
                <td><a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">Edit</a></td>
                <td><a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">Remove</a></td>
            </tr>
        }
    </table>
</div>