@model PostViewModel

<div>
    <form asp-controller="PostManager" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input asp-for="CurrentImage" type="hidden" />
        <div class="editorContainer">
            <table>
                <tr>
                    <td><label>Title</label></td>
                    <td> <input asp-for="Title" /></td>
                </tr>
                <tr>
                    <td><label>Description</label></td>
                    <td> <input asp-for="Description" /></td>
                </tr>
                <tr>
                    <td><label>Tags</label></td>
                    <td> <input asp-for="Tags" /></td>
                </tr>
                <tr>
                    <td><label>Category</label></td>
                    <td>
                        @Html.DropDownListFor(x => x.Category, (SelectList)ViewData["Categories"])
                    </td>
                </tr>
                <tr>
                    <td><label>Image</label></td>
                    <td> <input asp-for="Image" /></td>
                </tr>
                <tr>
                    <td><label>Body</label></td>
                    <td><textarea id="editor" asp-for="Body"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td> <button type="submit" value="Submit">Guardar</button></td>
                </tr>
            </table>
        </div>
    </form>
</div>

<script>
    $('#editor').trumbowyg();
</script>